<h1>APP RANK</h1>
<%= paginate @infos %>
<table>
  <tr>
    <th>银行名称</th>
    <th>版本号</th>
    <th>分数</th>
    <th>更新时间</th>
  </tr>
  <% for info in @infos%>
      <tr>
          <th><%= info.name %></th>
          <th><%= info.version %></th>
          <th><%= info.score %></th>
          <th><%= info.updated_at.strftime("%F") %></th>
      </tr>

  <% end %>
</table>

<%= paginate @infos %>

