<h1>APP 排行榜</h1>
<%= paginate @infos %>
<table class="uk-table uk-table-striped">
  <tr>
    <th>银行名称</th>
    <th>版本号</th>
    <th>分数</th>
    <th>更新时间</th>
  </tr>
  <% for info in @infos%>
      <tr>
          <td><%= info.name %></td>
          <td><%= info.version %></td>
          <td><%= info.score %></td>
          <td><%= info.updated_at.strftime("%F") %></td>
      </tr>

  <% end %>
</table>

<%= paginate @infos %>

